.footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background: #333;
  padding: 40px;
}

.footer-Section {
  margin: 10px;
  flex: 1;
  max-width: 100%;
}

.footer-Section a i {
  font-size: 24px; 
  margin: 5px;
  justify-items: center;
}
