body {
  margin: 0;
  padding: 0;
}

#navbar {
  background-color: rgb(14, 0, 91);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.6);
}

.logo {
  object-fit: cover;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.6);
}
.logo:hover {
  box-shadow: 0 0 8px rgb(255, 255, 255);
  border-radius: 50%;
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.button1 {
  background-image: linear-gradient(to right, #06002b, #c9c2c9);
  color: #000000;
  border: none;
  box-shadow: 0 0 5px rgb(0, 0, 0);
  margin-left: 1rem;
  border-radius: 20px;
  padding: 10px 40px;
  cursor: pointer;
  font-weight: 1000;
}

.button1:hover {
  background-image: linear-gradient(to right, #c9c2c9, #06002b);
  transform: scale(1.05); /* Adjust the scale factor as needed */
  transition: transform 0.3s ease; /* Add a smooth transition effect */
  box-shadow: 0 0 8px rgb(0, 0, 0);
}

.Slice1 {
  font-size: 50px;
  line-height: 1;
  letter-spacing: -2px;
  color: #d3d3d3;
  text-align: center;
  font-weight: 1000;
}
.Slice2 {
  font-size: 30px;
  letter-spacing: -2px;
  color: gray;
  text-align: center;
  line-height: 1;
  font-weight: 100;
}
.Slice3 {
  font-size: 30px;
  line-height: 1;
  color: gray;
  text-align: center;
  letter-spacing: -2px;
  font-weight: 1000;
}
.Slice4 {
  font-size: 30px;
  line-height: 1;
  color: gray;
  text-align: center;
  letter-spacing: -2px;
  font-weight: 500;
}
.Slice5 {
  font-size: 30px;
  line-height: 1;
  color: gray;
  text-align: center;
  letter-spacing: -2px;
  font-weight: 750;
}

.desktopMenu {
  color: whitesmoke;
}

.desktopMenuList {
  margin: 1rem;
  cursor: pointer;
  color: white;
  position: relative;
  overflow: hidden;
}

.desktopMenuList::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  transform: translateX(-50%);
  width: 0;
  height: 3px;
  background-color: blanchedalmond;
  transition: width 0.3s ease;
}

.desktopMenuList:hover::after {
  width: 100%;
}

.desktopMenu a i {
   
  margin: 8px;
  justify-items: center;
}
