<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DCCMS - Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <!-- Include the navbar -->
    {% include 'navbar.html' %}

    <div class="container">
        <section class="section" id="home">
            <h1 style="text-align: center; font-size:30px; color: silver;">Welcome to</h1>
            <h1 style="text-align: center; font-size:40px; color: rgb(14, 0, 91);">District Court Case Management System</h1>
            <div id="slider-container" style="position: relative; margin-bottom: 20px;"></div>
        </section>

        <section class="section about_services-section" id="about">
          

            <div class="about_services-content">
              <h2>About Us</h2>
              <p>about section desription.</p>
            </div> 
            <div class="about_services-image">
              <img class="about_servicesImage" src="./static/Images/about_.png" alt="About Section Image">
          </div>
        

        
          
        </section>
        <section class="section about_services-section" id="Services">
          
           
              <div class="about_services-image">
                  <img class="about_servicesImage" src="./static/Images/services1.png" alt="About Section Image">
              </div>
              <div class="about_services-content">
                <h2>Our Services</h2>
                <p>about section desription.</p>
            </div>
            
      </section>

        <section class="section" id="contact">
            {% include 'contact.html' %}
        </section>
    </div>

    <div class="section-footer" id="footer">
        {% include 'footer.html' %}
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script src="{{ url_for('static', filename='slider.js') }}"></script>
    <script>
        // Smooth scroll to section
        document.querySelectorAll('.desktopMenuList').forEach(item => {
            item.addEventListener('click', event => {
                event.preventDefault();
                const targetId = event.target.getAttribute('href').substring(1);
                const targetSection = document.getElementById(targetId);
                targetSection.scrollIntoView({ behavior: 'smooth' });
            });
        });
    </script>
</body>
</html>
