<!-- My CSS -->
<link rel="stylesheet" href="../static/styles/admin/add.css"> 

<main>
        
            <h1 class="heading">CREATE NEW LAWYER</h1>
            <div class="container">
                <form action="/action_page.php">
                    <div class="row">
                        <div class="col-25">
                            <label for="fullname">Full Name</label>
                        </div>
                        <div class="col-75">
                            <input type="text" id="fullname" name="fullname" placeholder="Enter full name...">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-25">
                            <label for="username">Username</label>
                        </div>
                        <div class="col-75">
                            <input type="text" id="username" name="username" placeholder="Enter username...">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-25">
                            <label for="password">Password</label>
                        </div>
                        <div class="col-75">
                            <input type="password" id="password" name="password" placeholder="Enter password...">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-25">
                            <label for="address">Address</label>
                        </div>
                        <div class="col-75">
                            <input type="text" id="address" name="address" placeholder="Enter address...">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-25">
                            <label for="contact">Contact</label>
                        </div>
                        <div class="col-75">
                            <input type="text" id="contact" name="contact" placeholder="Enter contact number...">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-25">
                            <label for="email">Email</label>
                        </div>
                        <div class="col-75">
                            <input type="email" id="email" name="email" placeholder="Enter email...">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-25">
                            <label for="nic">NIC</label>
                        </div>
                        <div class="col-75">
                            <input type="text" id="nic" name="nic" placeholder="Enter nic...">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-25">
                            <label for="gender">Gender</label>
                        </div>
                        <div class="col-75 gender-options">
                            <label><input type="radio" name="gender" value="male"> Male</label>
                            <label><input type="radio" name="gender" value="female"> Female</label>
                            <label><input type="radio" name="gender" value="other"> Other</label>
                        </div>
                    </div>
                    <div class="row">
                        <input type="submit" value="Add Lawyer">
                    </div>
                </form>
            </div>

    </main>

