<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Case Documents</title>
        <link rel="stylesheet" href="../static/styles/admin/add.css">
        {% include 'index_admin.html' %}  
    </head>
<body>
    <main>
        
    <h1 class="heading">Case Documents</h1>
    <div class="container">
    <table >
        <thead>
            <tr>
                <th>Document ID</th>
                <th>Case ID</th>
                <th>Description</th>
                <th>Document</th>
            </tr>
        </thead>
        <tbody>
            {% for doc in documents %}
            <tr>
                <td>{{ doc[0] }}</td> 
                <td>{{ doc[1] }}</td> 
                <td>{{ doc[2] }}</td>
                <td>
                    <button class="view-btn">
                        <a href="{{ url_for('admin.view_document', document_id=doc[0]) }}" target="_blank" style="color: inherit; text-decoration: none;">View</a>
                    </button>
                    <button class="edit-btn">
                        <a href="{{ url_for('admin.view_document', document_id=doc[0]) }}" download style="color: inherit; text-decoration: none;">Download</a>
                    </button>
                </td>
                
            </tr>
            {% endfor %}
        </tbody>
    </div>
</table>
    </main>
</body>
</html>
