@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

:root {
  --poppins: "Poppins", sans-serif;
  --lato: "Lato", sans-serif;
  --light: #f9f9f9;
  --blue: #3c91e6;
  --light-blue: #cfe8ff;
  --grey: #eee;
  --dark-grey: #aaaaaa;
  --dark: #342e37;
  --red: #db504a;
  --yellow: #ffce26;
  --light-yellow: #fff2c6;
  --orange: #fd7238;
  --light-orange: #ffe0d3;
}

html {
  overflow-x: hidden;
}

body.dark {
  --light: #0c0c1e;
  --grey: #060714;
  --dark: #fbfbfb;
}

body {
  background: var(--grey);
  overflow-x: hidden;
}

#content {
    display: flex;
    justify-content: center;
    padding: 0 24px;
    font-family: var(--poppins);
  }
  

  .heading {
    text-align: center;
    font-size: 30px;
    margin: 20px;
  }
  
  .container {
    border-radius: 10px;
    background: var(--light);
    padding: 20px;
    margin-top: 0 auto;
    width: 82%;
    margin-left: 265px;
    
  }

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

input[type=text], input[type=email], input[type=date], input[type=password], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #432bdd;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #2f1bab;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.gender-options label {
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}

input[type=radio] {
  margin-right: 5px;
}

.search-container {
  margin-bottom: 20px;
  text-align: center;
}

.search-container form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-container label {
  margin-right: 10px;
}

.search-container select {
  padding: 4px;
  width: 150px; /* Reduced width */
  margin-right: 10px;
}

.search-container button {
  padding: 4px 8px; /* Reduced padding */
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px; /* Reduced font size */
}

.search-container button:hover {
  background-color: #0056b3;
}

/* Style the table */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f4f4f4;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}

h2{
  padding: 20px;
  text-align: center;
}

/* Style for action buttons */
.view-btn, .edit-btn, .upload-btn {
  color: white;
  margin: 0 5px;
  font-size: 14px; 
  padding: 10px 10px; 
  border-radius: 5px; 
  border: none; 
  cursor: pointer; 
  transition: all 0.3s ease;  
  
}

.view-btn {
  background-color: #28a745;
}

.view-btn:hover {
  background-color: #218838;
}

.edit-btn {
  background-color: #2731f9;
}

.edit-btn:hover {
  background-color: #1300e0;
}

.upload-btn {
  background-color: #f9c127;
}

.upload-btn:hover {
  background-color: #dcaa1f;
}

.edit-btn:hover, .view-btn:hover, .upload-btn:hover {
  opacity: 0.9; 
  transform: translateY(-2px); 
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.edit-btn:active, .view-btn:active, .upload-btn:active{
  transform: translateY(1px); 
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); 
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1000; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4); 
  padding-top: 60px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}