<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Boxicons -->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <!-- My CSS -->
    <link rel="stylesheet" href="../static/dashboard.css">
    <!-- Faicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">


    <title>DCCMS</title>
    
</head>
<body>
  {% include 'navbar.html' %}
<!-- CONTENT -->
    <section id="content">
        <!-- MAIN -->
		<main id="main-dashboard">
			<ul class="box-info">
				<li>
					<i class='bx bxs-bank' ></i>
					<span class="text">
						<h3>10</h3>
						<p>Total Lawyers</p>
					</span>
				</li>
				<li>
					<i class='bx bxs-group' ></i>
					<span class="text">
						<h3>2834</h3>
						<p>Total Judges</p>
					</span>
				</li> 
				<li>
					<i class='bx bxs-folder' ></i>
					<span class="text">
						<h3>2543</h3>
						<p>Total Cases</p>
					</span>
				</li>
				
				
			</ul>
		</main>
		<main id="main-judges" class="hidden">
			<!-- Content for Judges category -->
			{% include '.html' %}
		</main>
		<main id="main-lawyers" class="hidden">
			<!-- Content for Lawyers category -->
           
		</main>
		<main id="main-users" class="hidden">
			<!-- Content for Users category -->
		</main>
		<main id="main-cases" class="hidden">
			<!-- Content for Cases category -->
			{% include 'cases.html' %}
			
			
		</main>
		<main id="main-reports" class="hidden">
			<!-- Content for Reports category -->
		</main>
		
		
    </section>
    <!-- CONTENT -->
    <script src="../static/dashboard.js"></script>
</body>
</html>
