<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='navbar.css') }}">
</head>
<body>
    <nav id="navbar">
        <img class="logo" src="./static/Images/myLogo1.png" alt="Logo">
        <div id="brand">
            <span class="Slice1">District</span>
            <span class="Slice2"> Court </span>
            <span class="Slice3"> Case </span>
            <span class="Slice4"> Management </span>
            <span class="Slice5"> System </span>
        </div>
        <div class="desktopMenu">
            <a href="#home" class="desktopMenuList">Home</a>
            <a href="#about" class="desktopMenuList">About</a>
            <a href="#Services" class="desktopMenuList">Services</a>
            <a href="#contact" class="desktopMenuList">Contact</a>
        </div>
        <a href="/login"><button class="button1">Log in</button></a>
    </nav>
</body>
</html>
